body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 50%;
    color: rgb(105, 99, 99);
}

.flex {
    display: flex;
}

.para {
    margin-top: 130px;
    margin-left: 170px;
    width: 50%;
    text-align: justify;
    color: rgb(105, 99, 99);
}

p {
    font-size: 20px;
}

.img {
    padding-left: 250px;
    padding-top: 10px;
    width: 50%;

}

.name {
    color: rgb(255, 136, 0);
}

.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(240, 100, 19), rgba(255, 136, 0, 0.904));
    font-weight: 700;
    margin-top: 100px;
    padding: 1%;
    border-radius: 60px;
    color: aliceblue;
    line-height: 500%;
    font-size: 28px;
}

#top-part {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    margin: 0;
    padding-top: 0px;
    width: 50%;
}

.para2 {
    margin-top: 50px;
    margin-left: 200px;
    padding: 80px;
    width: 50%;
    text-align: justify;


}